# REF: https://github.com/marketplace/actions/codacy-coverage-reporter#uploading-coverage-to-codacy

name: Codacy Coverage Reporter

permissions:
  contents: read

on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  codacy-coverage-reporter:
    runs-on: ubuntu-latest
    name: codacy-coverage-reporter
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Generate Coverage Report
        run: GOTOOLCHAIN=go1.25.0+auto go test -v -race -shuffle=on -coverprofile coverage.out ./...

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699  # v1.3.0
        with:
            project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
            coverage-reports: ./coverage.out
            force-coverage-parser: go
