name: Cut New Release

#
# Currently performs the following:
# - Uses GoReleaser to create a new release based on the tag pushed
# - Publishes binaries to GitHub Releases
# - Publishes Docker images to Docker Hub and GitHub Container Registry
# - Signs all binaries and Docker images
# - Attests all binaries and Docker images
#

on:
  push:
    # run only against version tags
    tags:
      - 'v*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # needed to create GH Release
      packages: write  # needed to push GHCR image
      # needed to write attestations.
      id-token: write
      attestations: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00  # v6.0.0
        with:
          go-version: stable

      - uses: anchore/sbom-action/download-syft@fbfd9c6c189226748411491745178e0c2017392d  # v0.20.10

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a  # v6.4.0
        id: run-goreleaser
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GITHUB_TOKEN: ${{ secrets.HOMEBREW_GITHUB_TOKEN }}

      # After GoReleaser runs, attest all binary and docker image checksums:
      # REF: https://goreleaser.com/customization/attestations/
      - uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: ./dist/checksums.txt
      - uses: actions/attest-build-provenance@v3
        # snapshots won't push docker images
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          subject-checksums: ./dist/digests.txt
